@font-face {
    font-family: "Lexend";
    src: url(font/LexendDeca-Regular.ttf);
}
html {
    height: 100%;
}
:root {
    --canvas-background: #fff6da;
    --main-bg-color: #fff6da;
    --sec-bg-color: #84f2d6;
    --main-fg-color: #fc6b3f;
    --sec-fg-color: #262525;
}

body {
    background-color: white;
    font-family: "Lexend";
    color: var(--sec-fg-color);
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    -webkit-box-sizing: border-box; /* Safari, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    width: 100%;

    margin: 0 -3px 0 0;
    overflow-x: hidden;
    height: 100vh;
    max-width: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

section#info {
    margin: 12rem auto 2rem;
    text-align: center;
    width: 50rem;
}
section#info h1 {
    color: var(--sec-fg-color);
    font-size: 5rem;
    margin: 0 0 1rem;
}
section#info h2 {
    color: var(--sec-fg-color);
    font-size: 2rem;
    margin: 0 0 2rem;
}
section#info p a,
section#imprint p a {
    color: var(--main-fg-color);
}
section#info p a:hover,
section#imprint p a:hover {
    color: var(--sec-fg-color);
}
section#funded {
    margin: 5rem auto 2rem;
    text-align: center;
    width: 50rem;
}
section#funded p {
    color: var(--sec-fg-color);
}
section#funded .bmbf {
    margin-left: -3rem;
    margin-right: 3rem;
}
section#funded .prototypefund {
    margin-bottom: 2.3rem;
}

section#imprint {
    margin: 1rem auto 2rem;
    text-align: center;
    width: 50rem;
}
section#imprint .contact {
    display: none;
}
